# sqlite3

In [ ]:
import sqlite3

In [7]:
conn = sqlite3.connect('data.db')

In [9]:
#创建表格
cur = conn.cursor()
cur.execute("""CREATE TABLE products (
    item TEXT,
    count INTEGER,
    price REAL)""")
conn.commit()

In [18]:
with open('data.csv') as f:
    f.readline()
    for i in range(4):
        line = f.readline()
        item,count,price = line.split(',')
        #print(item,count,price)
        with conn:
            cur.execute("""INSERT INTO products VALUES (:item,:count,:price)""",dict(item=item,count=count,price=price))

In [11]:
#插入数据
with conn:
    item = 'pen'
    count = 10
    price = 5
    cur.execute("""INSERT INTO products VALUES (?,?,?)""",(item,count,price))

In [22]:
#查询数据
with conn:
    cur.execute("""SELECT * FROM products""")
    print(cur.fetchall())

[('pen', 10, 5.0), ('knife', 10, 2.0), ('pencil', 100, 1.0), ('paper', 1000, 0.1)]

In [21]:
#修改数据
with conn:
    item = 'knife'
    count = 10
    cur.execute("""UPDATE products SET count=:count WHERE item=:item""",dict(item = item,count = count))

In [15]:
#删除数据
with conn:
    cur.execute("""DELETE FROM products WHERE item=?""",(item,))

In [3]:
conn.close()

# pandas library

In [23]:
import pandas as pd

In [26]:
from sqlalchemy import create_engine

In [24]:
df =pd.read_csv('./data.csv')

In [25]:
df

     item  count  price
0     pen     10    5.0
1   knife     50    2.0
2  pencil    100    1.0
3   paper   1000    0.1

In [27]:
engine = create_engine('sqlite:///data.db')

In [29]:
df.to_sql('pdproducts',con=engine)